@import 'form';

a {
  color: cadetblue;
}

#root {
  margin: 0;
  display: grid;
  grid-template-areas:
    "navigation"
    "header"
    "content"
    "footer";
  grid-template-rows: min-content min-content auto min-content;
}
label {
  font-family: 'Zilla Slab Highlight', cursive;
}

h2 {
  color: chartreuse;
}

p {
  font-weight: bold;
}

ul {
  margin: 0;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 300px;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

#navigation {
  background-color: lightblue;
  color: cadetblue;
  grid-area: navigation;
  padding: 5px;
  position: sticky;
  top: 0;

  a + ul {
    background-color: lightseagreen;
    display: none;
    position: absolute;
    left: 0;
    list-style: none;
    padding: 10px;
    z-index: 1;
  }

  a + ul:hover,
  a:hover + ul {
    display: flex;
    flex-direction: column;
    word-wrap: none;
  }

  > ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;

    > li {
      display: inline;
      position: relative;
    }
  }
}

#header {
  color: cadetblue;
  grid-area: header;
  padding: 10px;
  text-align: center;
}

#content {
  background-color: #eee;
  grid-area: content;
  padding: 10px;
}

#content li:hover {
  background-color: yellow;
}

#footer {
  background-color: tomato;
  grid-area: footer;
  padding: 10px;
}

@media screen and (min-width: 500px) {
  #root {
    grid-template-areas:
      "navigation header"
      "navigation content"
      "navigation footer";
    grid-template-rows: min-content auto min-content;
    grid-template-columns: 20vw auto;
  }

  #navigation > ul{
    flex-direction: column;
  }
}
