body {
  background-color: orchid;
  display: grid;
  min-height: 100vh;
  grid-template-rows: min-content 30vh auto min-content;
  grid-template-areas:
    "navigation"
    "header"
    "content"
    "footer";
}

h1 {
  background-color: hotpink;
  font-family: 'Press Start 2P', monospace;
  font-size: 2em;
}

h2 {
  background-color: orangered;
}

h3 {
  font-style: italic;
}

img {
  display: block;
  margin: 1em auto;
  max-width: 300px;
  width: 80%;
}

p {
  font-style: italic;
}

ul {
  background-color: teal;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  width: 90%;
}

.emphasis {
  font-weight: bold;
}

#middle {
  font-size: 2em;
  font-style: italic;
}

#header {
  background-image: url(https://az415828.vo.msecnd.net/pictures/9/258/9258430/lowres/343708686.jpg);
  background-position: center right;
  grid-area: header;
}

#header h1,
#header h2 {
  color: #07c4dd;
}

#content {
  background-color: orchid;
  grid-area: content;
  padding: 20px;
}

#footer {
  background-color: chartreuse;
  grid-area: footer;
}

#navigation {
  background-color: cyan;
  grid-area: navigation;
  position: sticky;
  top: 0;
}

#navigation > ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

#navigation > ul > li {
  display: inline;
  margin: 10px;
  position: relative;
}

#navigation .dropdown {
  display: none;
  left: 0;
  position: absolute;
  top: 28px;
}

#navigation a:hover + .dropdown,
#navigation a + .dropdown:hover {
  display: block;
}

@media (min-width: 750px) {
  body {
    grid-template-columns: 15% auto;
    grid-template-rows: 40vh auto min-content;
    grid-template-areas:
      "navigation header"
      "navigation content"
      "navigation footer";
  }

  #navigation > ul {
    flex-direction: column;
  }
}
