body {
  margin: 0;
}

h1 {
  font-family: Impact;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

#navigation {
  background-color: coral;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

#navigation > ul > li {
  display: inline;
}

#navigation li:hover {
  background-color: darkorange;
}

#navigation li {
  position: relative;
}

#navigation ul ul {
  background-color: hotpink;
  display: none;
  position: absolute;
  right: 0;
}

#navigation a:hover + ul,
#navigation a + ul:hover {
  display: block;
}

#header {
  background-color: blue;
  border: 5px solid hotpink;
  padding: 50px;
}

#content {
  background-color: papayawhip;
  padding: 10px;
}

#footer {
  background-color: pink;
  border: 5px solid hotpink;
  padding: 10px;
}
