body {
  background-color: lightgrey;
}

h1 {
  color: hotpink;
}

#content {
  border-width: 2px;
  border-color: magenta;
  border-style: solid;
  background-color: red;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

.navigation {
  background-color: transparent;
  width: 100vw;
  background-color: yellow;
}

.navigation > a {
  color: orange;
}

.navigation a {
  text-decoration: none;
}

.navigation + div + div {
  background-color: chartreuse;
  color: blue;
}

.navigation li {
  margin: 20px 0;
  padding: 10px;
}

.navigation + div li:first-child {
  background-color: yellow;
}

.navigation li:last-child {
  background-color: cornflowerblue;
}

.footer {
  width: 100vw;
}

.fancy {
  font-family: monospace;
}

ol > li:nth-child(2) {
  background-color: hotpink;
}

ol > li:nth-child(3n) {
  background-color: #e0ccc5;
}

ol > li:nth-child(3n + 1) {
  background-color: orange;
}

ol > li:hover {
  background-color: purple;
}
