.container {
  max-width: 750px;
  margin: 10px auto;
}

.header {
  margin-top: 50px;
  padding: 25px;
  background-color: red;
}

.header h2 {
  color: orange;
}

.header h2 + h3 {
  color: aquamarine;
}

.navigation {
  padding: 10px;
  background-color: hotpink;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
}

.navigation ~ div {
  background-color: fuchsia;
}

.navigation > ul > li {
  margin: 5px;
  display: inline;
  position: relative;
}

.navigation > ul > li:hover {
  background-color: chocolate;
}

.navigation .dropdown {
  position: absolute;
  top: 20px;
  right: 0;
  display: none;
}

.navigation a:hover + .dropdown,
.navigation .dropdown:hover {
  display: block;
}

.content {
  background-color: lightgrey;

  padding: 50px;
}

.footer {
  padding: 10px;
  background-color: tomato;
}

body {
  background-color: chartreuse;
  margin: 0;
}

h2 {
  font-family: sans-serif;
  color: white;
}

ul {
  background-color: cornflowerblue;
}

.extra-pink {
  color: hotpink;
}

#subheader {
  font-style: italic;
  color: lightgrey;
  font-weight: 500;
}

#funky-list {
  background-color: tomato;
}


#funky-list > li:first-child {
  background-color: firebrick;
}

#funky-list > li:last-child {
  background-color: lawngreen;
}

#funky-list > li:nth-child(2) {
  background-color: red;
}

#funky-list > li:nth-child(3n) {
  background-color: cyan;
}

#funky-list > li:nth-child(2n+1) {
  background-color: violet;
}

#funky-list li:hover {
  background-color: yellow;
}
