body {
  color: #242424;
  font-family: 'Georgia', serif;
  font-size: 20px;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

h2 {
  color: #414040;
}

h3 {
  color: #747373;
  font-weight: 400;
  font-style: italic;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

#navigation,
#footer {
  background-color: #a8a8a8;
  padding: 20px;
}

#header,
#footer {
  padding: 15px;
}

#navigation a {
  text-transform: uppercase;
}

#navigation a,
#footer a {
  color: black;
  text-decoration: none;
  transition: 0.1s color ease;
}

#navigation a:hover,
#footer a:hover {
  border-bottom: 3px solid whitesmoke;
  color: whitesmoke;
}

#navigation ul,
#footer ul {
  list-style: none;
}

#navigation li,
#footer li  {
  display: inline;
  padding: 5px;
}

#header {
  background-color: whitesmoke;
}

#content img {
  border-radius: 50%;
  float: left;
  margin: 20px;
  max-width: 30vw;
  shape-outside: circle(50%);
}

#content {
  background-color: white;
  padding: 20px;
}

#content > .container > p:first-of-type::first-letter {
  color: #747373;
  font-size: 175%;
  margin: 3px;
  line-height: 50%;
  vertical-align: middle;
}
